<h1>Listing google queries</h1>

<table class="table table-hover">
  <tr>
    <th>Question</th>
    <th>Interval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gqueries.each do |gquery| %>
  <tr>
    <td><%= gquery.question %></td>
    <td><%= gquery.interval %> min</td>
    <td><%= link_to 'Show', gquery, :class =>"btn" %></td>
    <td><%= link_to 'Edit', edit_gquery_path(gquery), :class =>"btn" %></td>
    <td><%= link_to 'Destroy', gquery, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New google query', new_gquery_path, :class =>"btn" %>
